* {
	border-radius: 5px;
	border-color: #80c1ef;
}

window
{
	font-size: 15px;
	font-family: "Noto Sans Mono";

	background-color: rgba(1, 10, 18, 0.9);
	color: rgb(205, 231, 250);

}

#entry
{
	padding: 0.3em;
}

#entry:selected
{
	background-color: rgba(31, 87, 122, 0.8);
	border-radius: 0px;
}

#input
{
	background-color: rgba(8, 37, 52, 0.8);
	color: #e6f3fc;
	padding: 0.25em;
}
